<center>
<div id='shade'>.</div>

<div class='header'>
	<div class='row'>
		<div class='six columns' id='topleft'></div>
		<div class='six columns' id='topright'></div>
	</div>
</div>

<div id='logo'>
	<img src='/logo.png'>
</div>

<div id='logoring'>
	<center><div id='ring'></div></center>
</div>

<div class='container' id="addform">
  <div class="row">
  <form method='POST' action='/links/create'>
  <input name='authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'>
    <div class="six columns" id='addleft'>
    	<input class='inputbox' id="newlocal" type="text" name="local" placeholder="design_comps-client1" required="required"/>
    </div>
    <div class="five columns" id='addright'>
    	<input class='inputbox' id="newexternal" type="text" name="external" placeholder="http://www.docs.google.com..." required="required"/>
    </div>
    <div class="one column" id='makebutton'>
	    <button id='createbutton'>+</button>
    </div>
  </form>
  </div>
</div>


<br>

<% links.each do |link| %>
<div class='indcla'>
<div class='container' id="individual">
  <div class="row" id="<%= link.id %>" data-counter="<%= link.counter %>">
    <div class="six columns" id='linkleft'>
		  <form method='POST' action='/links/edit/<%= link.id %>'>
				<input name='authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'>
				<input class='inputbox' id='linklocal' type='text' name="local" value='<%= link.local %>'>
    </div>
    <div class="four columns" id='linkright'>
				<input class='inputbox' id='linkexternal' type='text' name='external' value='<%= link.external %>'>
				<button style="visibility: hidden">edit</button>
			</form>
    </div>
    <div class="one column" id='menubox'>
	    <div class="menuicon">
	    &#9776;
	    </div>
    </div>
    <div class="one column" id='gobox'>
	    <div class="goicon">
	    &#8594;
	    </div>
    </div>
	</div>  
</div>
</div>
<%end%>


<div class='footer'>
	<div class="container"><br>
	  <div class="row">
			<div class="six columns">
				<b>Usage:</b>
				<br>Make up a local url, a single string of text.
				<br>Add the external url.
				<br>Update as needed. (click, type, press enter)
				<br>Click '...' for other info/options</a>
			</div>
			<div class="six columns">
				<b>Notes:</b> 
				<br>No depth to the path- ('example/link1' will not work.)
				<br>'links', 'sessions' and 'users' are reserved local paths. 
				<br>Routes are displayed in alphabetical order by local path.
				<br>Local strings are normalized to lowercase on the fly
			</div>
		</div><br>
		<a href='/sessions/destroy' id='logout' type='submit'>Log Out</a><br><br>
	</div>
</div>





<div class="floating-menu">
	<div id='popinfo'><a href=#>Go</a></div>
	<div id="trash">
    <a href=#>Kill</a>
  </div>
  <div id="counter">
    Hit 3 Times
  </div>
</div>




<script type="text/javascript">
		$(".goicon").click(function (ev) {
		ev.preventDefault()
		debugger
		local = this.parentElement.parentElement.children[0].children[0].children[1].value
		redirect = 'http://<%= session[:user_name]%>.thx.bz/'+local
		window.location.assign(redirect)
  })

clic = 0;
$('.menuicon').click(function(ev){
  if(clic == 0){
  	idoflink = this.parentElement.parentElement.id
  	killlink = '/links/kill/'+idoflink
  	counternum = this.parentElement.parentElement.getAttribute('data-counter')
  	local = this.parentElement.parentElement.children[0].children[0].children[1].value
  	// debugger
  	$('.floating-menu #popinfo a').attr  ('href','http://<%= session[:user_name] %>.thx.bz/'+local)
  	$('.floating-menu #popinfo a').text('<%= session[:user_name] %>.thx.bz/'+local)
		// $('.floating-menu #popinfo').text(local)

		$('.floating-menu #counter').text('Hit '+counternum+' times.')
		$('#trash a').attr('href',killlink)

		$('#shade').css('display','block')
    $('.floating-menu').css({
        'opacity':1,
        'left':'50%',
        'top':'40%'
      })   
    clic = 1

  }else{
  	$('#shade').css('display','none')
    $('.floating-menu').css(
        {
        	'top':-500,
          'opacity':0
        });
    clic = 0
  }
})

$('#shade').click(function(){
		  	$('#shade').css('display','none')
      $('.floating-menu').css(
          {
          	'top':-500,
            'opacity':0
          });
      clic = 0;
})

</script>






