	<%= stylesheet_link_tag "links", :media => "all" %>	
	
<body id="dashboard">
	<div class="header">
		<div class="logo"></div>
		<div class="pulse"></div>
		<div class="row">
			<ul class="main-input horizontal">
				<li><div class="slash">/</div></li>
				<li><input type="text" placeholder="newurl" class="url source"></input></li>
				<li><input type="text" placeholder="destination.com" class="url destination"></input></li>
				<li><div class="add" id="add-url"></div></li>
			</ul>
		</div>
	</div>


	<div class="row">
		<ul class="saved-list">
		<% links.each do |link| %>
			<li><ul class="saved">
				<li class="source"><div class="ellipsis"><span class="base"><%= link.user.name %>.thx.bz&nbsp;/&nbsp;</span><%= link.local %></div></li>
				<li class="destination"><div class="ellipsis"><%= link.external %></div></li>
				<li class="menu"><div class="btn"></div></li>
				<li class="copy"><div class="btn"></div></li>
			</ul></li>			
		<%end%>
		</ul>
	</div>
</body>
</html>

<script type="text/javascript">
function pulseLogo() {
	$('.pulse').transition({
		scale: 6, opacity: 0, duration: 800
	}, function(){
      $(this).css({'transform':'', 'opacity':'1'});
    });
}

$('#add-url').click(function() {
  pulseLogo();
});

$(".goicon").click(function (ev) {
	ev.preventDefault()
	local = this.parentElement.parentElement.children[0].children[0].children[1].value
	redirect = 'http://<%= session[:user_name]%>.thx.bz/'+local
	window.location.assign(redirect)
})
</script>
