<center>
<div class="container">
  <div class="row">
		<div class="twelve columns">
			<h2><b>thx.bz</b> for <i><%= session[:user_name] %></i></h2>
			<i>Simple links for your business, thx us later.</i>
			<hr>
			<a href='/links/new' id='makenew' class='button'>Add a Route</a>
			<hr>
		</div>
	</div>



	<div class="row">
		<div class="three columns"><b>Local Route</b></div>
		<div class="five columns"><b>External Route</b></div>
		<div class="one columns"><b>Counter</b></div>
		<div class="three columns"><b>Actions</b></div>
	</div>

<% links.each do |link| %>

  <div class="row">
	  <div class="three columns">
		  <form method='POST' action='/links/edit/<%= link.id %>'>
				<input name='authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'>
				<input class='localadd' type='text' name="local" value='<%= link.local %>'>
		  </form>
		</div>
		<div class="five columns">
		  <form method='POST' action='/links/edit/<%= link.id %>'>
		  	<input name='authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'>
				<input class='externaladd' type='text' name='external' value='<%= link.external %>'>
			</form>
		</div>
		<div class="one column">
			<span class="counter">Hit <%= link.counter %> Times</span>
		</div>
		<div class="three columns">
			<a href='http://<%= link.user.name %>.<%= request.domain %>/<%= link.local %>' id='gobutton' type='submit' target='_blank' class='button button-primary'>Test</a>
			<a href='/links/kill/<%= link.id %>' id='killbutton' type='submit' class='button'>Kill</a>
		</div>
	</div>
  <div class="row">
		<div class="twelve columns">
			<hr>
		</div>
	</div>

<%end%>
</div>


<div class='footer'>
	<div class="container"><br>
	<b>thx.bz is an internal link manager.</b><br><br>
	  <div class="row">
			<div class="six columns">
				<b>Usage:</b>
				<br>Make up a local url, a single string of text.
				<br>Add the external url, a <i>full</i> http path. 
				<br>Update as needed. (click, type, press enter.)
				<br><a id="moreins" href=#>More usage instructions</a>
			</div>
			<div class="six columns">
				<b>Notes:</b> 
				<br>No depth to the path- ('example/link1' will not work.)
				<br>'links', 'sessions' and 'users' are reserved local paths. 
				<br>Routes are displayed in alphabetical order by local path.
				<br>Everything is normalized to lowercase on the fly
			</div>
		</div><br>
		<a href='/sessions/destroy' id='logout' type='submit'>Log Out</a><br><br>
	</div>
</div>

<!-- DIV FOR THE FLOATING/CENTERED ADD A ROUTE FORM -->
<div class="add-absolute">
  <div class="addform">
    <form method='POST' action='/links/create'>
    	<label>Local Path</label>
    	<input class='inputbox' type="text" name="local" id="newlocal" placeholder="design_comps-client1" required="required"/><br>
    	<label>External Link</label>
      <input class='inputbox' type="text" name="external" id="newexternal" placeholder="http://www.docs.google.com..." required="required"/><br>
      <input name='authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'><br>
      <button class="button-primary" type="submit" id="makeitbutton">Make it...</button>
      <button class="button-primary" type="submit" id="nevermind">Nevermind.</button>
    </form>
	</div>
</div>


<!-- DIV FOR THE FLOATING/CENTERED MORE INSTRUCTIONS -->
<div class="ins-absolute">
  <div class="addform">
  		<span id="helptext">
  		You provide colleagues with a url like:	<b><%= session[:user_name] %>/thx.bz/design-1</b>
  		<br>that links to design drawings...
  		<br>
  		<br>When the design comps change and you generate a new
  		<br>share URL where they are hosted... come here update 
  		<br>the external URL. 
  		<br>
  		<br>Your designers access the same thx.bz URL, but get 
  		<br>the updated external URL. 
  		</span>
  		<br>
      <button class="button-primary" type="submit" id="hideins">Hide This.</button>
	</div>
</div>



<!-- SCRIPT TO SHOW/HIDE THE FLOATIN/CENTERED ADD ROUTE FORM -->
<script type="text/javascript">
	$("#makenew").click(function (ev) {
		ev.preventDefault()
			$('.add-absolute').css('display', 'block')
	    console.log('clicked make new route')
  })
  $("#nevermind").click(function (ev) {
		ev.preventDefault()
		$('.add-absolute').css('display', 'none')
  })
	$("#moreins").click(function (ev) {
		ev.preventDefault()
			$('.ins-absolute').css('display', 'block')
	    console.log('clicked make new route')
  })
  $("#hideins").click(function (ev) {
		ev.preventDefault()
		$('.ins-absolute').css('display', 'none')
  })
  
</script>