<%= stylesheet_link_tag "links", :media => "all" %>

<link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/2c2128be-1d65-4d98-989c-55fc575e7963.css"/>

<body id="dashboard">
	<div class="header">
		<div class="logo"></div>
		<!-- <div class="userwidget"><%= session[:user_name] %>.</div> -->
		<div class="pulse"></div>
		<div class="row">
		<form method='POST' id='makenew' action='/links/create'>
			<input name='authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'>
			<ul class="main-input horizontal">
				<li><div class="slash">/</div></li>
				<li><input type="text" name="local" placeholder="newurl" class="url source"></input></li>
				<li><input type="text" name="external" placeholder="destination.com" class="url destination"></input></li>
				<li><div class="add" id="add-url"><button class='hiddenbutton' style="visibility: hidden">submit</button></div></li>
			</ul>
		</form>
		</div>
	</div>
	<div class="row">
		<ul class="saved-list">

		<% links.each do |link| %>
			<form method='POST' id='editform' action='/links/edit/<%= link.id %>'>
				<input class="auth" name='authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'>
					<ul class="saved" data-id="<%= link.id %>">
						<li><input type="text" name="local" class="url source" value="<%= link.local %>"></input></li>
						<li><input type="text" name="external" class="url destination" value="<%= link.external %>"></input></li>
						<li class="del"><div class="btn"></div></li>
						<li class="arrow"><div class="btn"></div></li>
						<li class="savedmsg"><div class="savedmsgtext">Updated!</div></li>
					</ul>
			</form>
		<% end %>	

		</ul>
	</div>
	<br>
	<div class="footer">
		Your links are accessable at URLs like so: 
		<%= session[:user_name] %>.thx.bz/<% if links[0] %><%= links[0].local %>
		<% else %>example<% end %>
		<br>
		<a href='/sessions/destroy' id='logout' type='submit'>Log Out</a>
	</div>
	
</body>
</html>

<%= javascript_include_tag "thx" %>



